
.content{
  padding: 2rem 2rem;
}

.reservation{
  margin: 1%;
}

.content{
  width: 60%;
  float: right;
}

.history{
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

footer{
  background-color: WhiteSmoke;
}

.yellow{
  background: yellow;
  color: black;
}
.yellow:hover{
  background: #e5e500;
  color: black;
}
.history:hover{
  background-color: white;
  color: black;
  border: 1px solid #555555;
}
.modal-ku {
  width: 900px;
  margin: auto;
}
.title-link{
  color: black;
  margin: 0;
}
.twolines{
  position: relative;
  height: 75px;
  text-align: center;
}

.search{
  margin: 0px auto 35px auto;
  width: 300px;
}
.title-ln{
  width: 100%;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 24px;
}
.sm{
  font-size: 90%;
}
.center{
  top: 80px;
  left:
}
.title-link:hover{
  text-decoration: none;
  color: #007bff;
}

@media (max-width: 768px){
  .book{
    margin: 10px 1% 0 1%;
    width: 100%;
  }

}
@media (min-width: 768px){
  .book{
    margin: 10px 1% 1% 1%;
    width: 48%;
  }

}

@media (min-width: 992px){
  .book{
    margin: 10px 1% 1% 1%;
    width: 31%;
  }

}


@media (max-width: 995px){
  .content{
    width: 100%;
    float: none;
  }

  .title{
    text-align: center;
  }
}
svg {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 100%;
}

.button{
  color: #007bff;
  border: none;
  background-color: transparent;
  padding: 0;
}
.addbtn{
  width: 100%;
  height: 172px;
  padding: 0;
  color: #007bff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.addbtn:hover{
  color: #0069d9;
  cursor: pointer;
}
.buttons{
  top: -13px;
  right: -9px;
}

.btn-width{
  width: 114px;
}
.borrow{
  top: -13px;
  left: 15px;
}
.btn-borrow{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background-color: white;
}

.btn-borrow:hover{
  cursor: pointer;
  background-color: rgb(245,245,245);
  color: black;
}
.delete{
  color: #dc3545;
}

.delete:hover{
  color: #c82333;
  cursor: pointer;
}
.edit:hover{
  color: #0069d9;
  padding: 0 5px;
  cursor: pointer;
}
.edit{
  padding: 0 5px;
  color: #007bff;
}
input[type=number].noarrows::-webkit-inner-spin-button,
input[type=number].noarrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}
.plus{
  width: 120%;
  height: 120%;
}

.wraper{
  padding-bottom: 1rem;
}
