/*by Jakub Pelc & Matěj Douša*/
html,
head,
body{
  background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.page-header{
  width: auto;
}
.logo {
  width: 150px;
  heiht: 150px;
}
.logo2 {
  width: 75px;
  height: 75px;
}

.Nadpis {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 75px;
}

.Nadpis2{
  font-family: Helvetica;
  color:ForestGreen;
}

.right{
  float:right;
}

.left{
  float:left;
}

.center{
text-align:center;
}

.login{
  color:SeaGreen;
  font-family: Arial;
  font-size: 10px;
}

.bfade1{
  padding-bottom:4px;
  height:30px;
  width:120px;
  margin:5px;
}

.bfade2{
  padding-bottom:4px;
  height:30px;
  width:120px;
  margin:5px;
}

#button1{
  padding-bottom:4px;
  height:30px;
  width:250px;
}

#tlc1:hover{
  background-image: url("https://images.pexels.com/photos/951240/pexels-photo-951240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color:white;
  color:black;
  border: 0.5px groove black;
}

#button1:hover{
  background-image: url("https://images.pexels.com/photos/951240/pexels-photo-951240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color:white;
  color:black;
  border: 0.5px groove black;
}

#button2{
  padding-bottom:4px;
  height:30px;
  width:250px;
}

#button3{
  text-align: center;
}


#tlc2:hover{
  background-image: url("https://images.pexels.com/photos/951240/pexels-photo-951240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color:white;
  color:teal;
  border: 0.5px groove teal;
}

#tlc3:hover{
  background-image: url("https://images.pexels.com/photos/951240/pexels-photo-951240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color:white;
  color:green;
  border: 0.5px groove green;
}

#button2:hover{
  background-image: url("https://images.pexels.com/photos/951240/pexels-photo-951240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color:white;
  color:teal;
  border: 0.5px groove teal;
}
#space {
    margin-top: 10%;
}
#container {
    width:auto;
    text-align: center;
}
#formular {

}
#formname {
    color: blue;


}
#linka {

}
#box{

}
#datum{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 35px;
}
#vypln{
  width: 240px;
}

header {
  font-size: 50px;
  padding: 5%;
}

tr.tabel {
   font-size:35px;
   text-align: left;
   font-style: normal;
   font-weight: bold;
   }

tr.tabel2 {
      font-size:20px;
      padding-left: 20%;
    }
td {
  padding-top: 8px;
}

#str{
  text-align: center;
}

#text1{
  text-align: center;
}

#text2{
  text-align: center;
}
