//pod tímto řádkem jsou styly pro dolní lištu//
}
html{
  margin:0;
  padding:0;
  height:100%;
}
body {
   margin:0;
   padding:0;
   height:100%;
}
#container2 {
   height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:10%;  /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:8%;   /* Height of the footer */
   background:#333;
}
#info {
  text-align: center;
  position: relative;
  margin-top: 7px;
  font-size: 2;
  font-style: italic;
  font-family: inherit;
  color: #CCC;
}
